body {
  background-color: aliceblue;
}

h3 {
  font-size: 1.2em;
}

h1, #goal-form {
  text-align: center;
}

button, #save {
  cursor: pointer;
}

#bucket-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.goal {
  border: solid 1px black;
  box-shadow: 3px 3px #888888;
  padding: 10px;
  margin: 10px;
  background-color: #ffffcc;
  width: 350px;
}

.goal-completed {
  background-color: #ccffcc;
}

.delete-button {
  background-color:red;
  color: white;
  margin-right: 5px;
}

.complete-button {
  background-color: green;
  color:white;
}
